
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}




.one{
    height:100px;
    width:100px;
    background-color: aquamarine;
   animation: magic 2s  infinite  both;
    border-radius: 100%;
    border:2px solid black;
}

@keyframes magic{
from{border:2px solid black}
to{border:10px solid green}
}







